<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="debateMapper">
	
	<!-- UserInfo 객체에 대한 정보 -->
	<resultMap id="resultUserInfo" type="UserInfo">
		<id column="user_no" property="user_no"/>
		<result column="user_id" property="user_id"/>
		<result column="user_nn" property="user_nn"/>
		<result column="user_name" property="user_name"/>
		<result column="user_pwd" property="user_pwd"/>
		<result column="age" property="age"/>
		<result column="gender" property="gender"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="interest" property="interest"/>
		<result column="login_ok" property="login_ok"/>
		<result column="admin" property="admin"/>
	</resultMap>
	
	<!-- BoardCategory 객체에 대한 정보 -->
	<resultMap id="resultDebate" type="Debate">
		<id column="debate_num" property="debate_num"/>
		<result column="team_num" property="team_num"/>
		<result column="debate_title" property="debate_title"/>
		<result column="debate_content" property="debate_content"/>
		<result column="user_no" property="user_no"/>
		<result column="debate_date" property="debate_date"/>
		<result column="debate_comment_count" property="debate_comment_count"/>
		<association property="userVO" resultMap="resultUserInfo" />
	</resultMap>
	
	<!-- Board 객체에 대한 정보 -->
	<resultMap id="resultDebateComment" type="DebateComment">
		<id column="debate_comment_num" property="debate_comment_num"/>
		<result column="debate_num" property="debate_num"/>
		<result column="user_no" property="user_no"/>
		<result column="debate_comment_content" property="debate_comment_content"/>
		<result column="debate_comment_date" property="debate_comment_date"/>
		<association property="userVO" resultMap="resultUserInfo" />
	</resultMap>
	
	<select id="selectAll" resultMap="resultDebate" parameterType="_int">
		select debate_num, d.user_no, ui.user_no, ui.user_nn, team_num, debate_title, debate_content, debate_date, debate_comment_count
		from debate d
		left join user_info ui on (d.user_no = ui.user_no)
		where team_num = #{ team_num }
		order by debate_num desc
	</select>

	<insert id="insertdebate" parameterType="Debate">
		insert into debate
		values ((select max(debate_num) + 1 from debate), #{ user_no }, #{ team_num }, #{ debate_title }, #{ debate_content }, default, default)
	</insert>
	
	<select id="selectDebate" parameterType="_int" resultMap="resultDebate">
		select debate_num, d.user_no, ui.user_no, ui.user_nn, team_num, debate_title, debate_content, debate_date, debate_comment_count
		from debate d
		left join user_info ui on (d.user_no = ui.user_no)
		where debate_num = #{ debate_num }
	</select>
	
	<select id="selectDebateCommentList" parameterType="_int" resultMap="resultDebateComment">
		select debate_comment_num, debate_num, dc.user_no, ui.user_no, ui.user_nn, debate_comment_content, debate_comment_date
		from debate_comment dc
		left join user_info ui on (dc.user_no = ui.user_no)
		where debate_num = #{ debate_num }
		order by debate_comment_num desc
	</select>
	
	<update id="updateDebate" parameterType="Debate">
		update debate
		set debate_title = #{ debate_title }, debate_content = #{ debate_content }
		where debate_num = #{ debate_num }
	</update>
	
	<delete id="deleteDebateCommentAll" parameterType="_int">
		delete from debate_comment
		where debate_num = #{ debate_num }
	</delete>
	
	<delete id="deleteDebate" parameterType="_int">
		delete from debate
		where debate_num = #{ debate_num }
	</delete>
	
	<insert id="insertDebateComment" parameterType="DebateComment">
		insert into debate_comment
		values ((select max(debate_comment_num) + 1 from debate_comment), #{ debate_num }, #{ user_no }, #{ debate_comment_content }, default)
	</insert>
	
	<update id="updateDebateCommentCountUp" parameterType="_int">
		update debate
		set debate_comment_count = (select debate_comment_count from debate where debate_num = #{ debate_num }) + 1
		where debate_num = #{ debate_num }
	</update>
	
	<delete id="deleteDebateComment" parameterType="_int">
		delete from debate_comment
		where debate_comment_num = ${ debate_comment_num }
	</delete>
	
	<update id="updateDebateCommentCountDown" parameterType="_int">
		update debate
		set debate_comment_count = (select debate_comment_count from debate where debate_num = #{ debate_num }) - 1
		where debate_num = #{ debate_num }
	</update>
	
</mapper>
